  
#scoreCard {
  text-align: left;
  margin-left: 10px
}

.jumbotron {
  background-image: url("assets/images/cloud-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#mainSection {
  margin-bottom: 200px;
}

#guessResult {
  float: right;
  margin-right: 200px;
}